In [2]:
import pandas as pd

# List of high schools
high_schools = ["Huang High School",  
                "Figueroa High School", 
                "Shelton High School", 
                "Hernandez High School",
                "Griffin High School",
                "Wilson High School", 
                "Cabrera High School",
                "Bailey High School", 
                "Holden High School", 
                "Pena High School", 
                "Wright High School",
                "Rodriguez High School", 
                "Johnson High School", 
                "Ford High School", 
                "Thomas High School"]

school_series = pd.Series(high_schools)

school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [6]:
for school in high_schools:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [8]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [9]:
# Three separate lists of information on high schools
school_id = [0,1,2,3,4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School" ]

type_of_school = [ "District", "District", "Charter", "District","Charter"]

In [10]:
# Initialize a new DataFrame
schools_df = pd.DataFrame()

#Add the list to the new DataFrame
schools_df["School ID"] = school_id

# Print the dataframe
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [11]:
schools_df["School Name"] = school_name
schools_df["Type of School"] = type_of_school

In [12]:
schools_df

   School ID            School Name Type of School
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [15]:
high_schools_dict = {'School ID': school_id, "School Name": school_name, "Type of School": type_of_school}

In [16]:
high_schools_dict

{'School ID': [0, 1, 2, 3, 4],
 'School Name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'Type of School': ['District', 'District', 'Charter', 'District', 'Charter']}

In [17]:
high_schools_df = pd.DataFrame(high_schools_dict)
high_schools_df

   School ID            School Name Type of School
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [18]:
high_schools_df.columns

Index(['School ID', 'School Name', 'Type of School'], dtype='object')

In [19]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [20]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [33]:
schoolIDs_df = pd.DataFrame(schools_df["School ID"])
schoolNames_df = pd.DataFrame(schools_df["School Name"])
schoolTypes_df = pd.DataFrame(schools_df["Type of School"])

SyntaxError: unexpected character after line continuation character (Temp/ipykernel_3464/1200645322.py, line 4)